body {
    overflow-x: hidden;
    overflow-y: hidden;
}

#nav-body-views {
    position: relative;
}


.overlayed {
    display: inline-block;
    position: absolute;
    top: 20%;
    right: 0.25%;
    width: 4%;
    padding-bottom: 0.8%;
    margin-right: 100px;
    border-radius: 5px;
    background-color: rgba(3, 37, 68, 0.5);
}

.frontScreen {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events:initial;
    opacity: 90%;
    background-color: brown;
}

#screenCount {
    color:white;
    text-align:center;
    font-size: large;
    background-color: rgba(2, 12, 20, 0.5);
    border-radius: 5px;
    max-width: 80%;
    max-height: 33%;
    margin: auto;
    cursor: pointer;
    appearance: none;
    padding-top: 5%;
    padding-bottom: 5%;
}



#mainButton {
    width: 100%;
    max-height: 40%;
    margin: auto;
    cursor: pointer;
    appearance: none;
  }

.actionButton {
  max-height: 33%;
  max-width: 60%;
  margin: auto;
  cursor: pointer;
  appearance: none;
}

#mainIcon {
    margin: -40%;
    max-width:180%;
    max-height:180%;
}

#mainIconHighlight {
    display:block;
    margin: auto;
    margin-top: -40%;
    margin-left: -39%;
    max-width:180%;
}

.actionIcon {
    display:block;
    max-width:100%;
    max-height:100%;
    margin-bottom: 26%;
}

.actionIconHighlight {
    display:block;
    max-width:150%;
    max-height:150%;
    margin-top: -24%;
    margin-left: -24%;
}

.actionIconToggled {
    display:block;
    max-width:100%;
    max-height:100%;
    margin-bottom: 26%;
}