body {
    overflow-x: hidden;
    overflow-y: hidden;
}

#nav-body-views {
    position: relative;
}


.overlayed {
    display: inline-block;
    position: absolute;
    top: 20%;
    right: 0.25%;
    width: 5%;
    height: 25%;
    margin-right: 100px;
    border-radius: 5px;
    background-color: rgba(3, 37, 68, 0.5);
}

.settings {
    color:white;
    background-color: rgba(3, 37, 68, 0.5);
    display: inline-block;
    position: absolute;
    margin-right: 110%;
    right: 0.25%;
    width: 700%;
    height: 280%;
    border-radius: 5px;
}

.settingIcon {
   height: 40px;
   width: 40px;
}

.settingsLabel {
    color:white;
    background-color: rgba(2, 12, 20, 0.5);
    display: inline-block;
    border-radius: 5px;
    width: 80%;
    margin: 5px;
}

.settingsLogs {
    color:white;
    background-color: rgba(2, 12, 20, 0.5);
    display: inline-block;
    border-radius: 5px;
    width: 80%;
    height: 40%;
    margin: 5px;
}


#mainButton {
    width: 100%;
    max-height: 40%;
    margin: auto;
    cursor: pointer;
    appearance: none;
    margin-bottom: 8px;
  }

#actionButton {
  max-height: 33%;
  max-width: 60%;
  margin: auto;
  cursor: pointer;
  appearance: none;
}

#mainIcon {
    display:block;
    margin: -40%;
    max-width:180%;
    max-height:180%;
}

#mainIconHighlight {
    display:block;
    margin: auto;
    margin-top: -40%;
    margin-left: -39%;
    max-width:180%;
}

#actionIcon {
    display:block;
    max-width:100%;
    max-height:100%;
    margin-bottom: 5px;
}

#actionIconHighlight {
    display:block;
    max-width:150%;
    max-height:150%;
    margin-top: -24%;
    margin-left: -24%;
}